In [1]:
import numpy as np
import pandas as pd

## series

In [2]:
benimsozlugum = {"atil": 50 , "zeynep":40 , "mehmet": 30}

In [5]:
pd.Series(benimsozlugum)

atil      50
zeynep    40
mehmet    30
dtype: int64

In [7]:
benimyaslarim= [50,40,30]
benimisimlerim=["atil","zeynep","mehmet"]

In [8]:
pd.Series(benimyaslarim)

0    50
1    40
2    30
dtype: int64

In [9]:
pd.Series(benimyaslarim,benimisimlerim)

atil      50
zeynep    40
mehmet    30
dtype: int64

In [10]:
pd.Series(data=benimyaslarim, index= benimisimlerim)

atil      50
zeynep    40
mehmet    30
dtype: int64

In [11]:
numpydizisi = np.array([50,40,30])

In [12]:
numpydizisi

array([50, 40, 30])

In [13]:
pd.Series(numpydizisi)

0    50
1    40
2    30
dtype: int32

In [14]:
pd.Series(numpydizisi,benimisimlerim)

atil      50
zeynep    40
mehmet    30
dtype: int32

In [16]:
pd.Series(["ismail","atlas","osman"],[1,2,3])

1    ismail
2     atlas
3     osman
dtype: object

In [17]:
yarismasonucu1 = pd.Series([10,5,1],["ismail","atlas","osman"])

In [18]:
yarismasonucu1

ismail    10
atlas      5
osman      1
dtype: int64

In [19]:
yarismasonucu2 = pd.Series([20,10,8],["ismail","atlas","osman"])

In [20]:
yarismasonucu2

ismail    20
atlas     10
osman      8
dtype: int64

In [21]:
yarismasonucu2["atlas"]

10

In [22]:
yarismasonucu2[1]

10

In [23]:
sonsonuc =yarismasonucu1 + yarismasonucu2

In [24]:
sonsonuc

ismail    30
atlas     15
osman      9
dtype: int64

In [25]:
farkliseries = pd.Series([20,30,40,50],["a","b","c","d"])

In [26]:
farkliseries2 = pd.Series([10,5,3,1],["a","c","f","g"])

In [27]:
farkliseries

a    20
b    30
c    40
d    50
dtype: int64

In [28]:
farkliseries2

a    10
c     5
f     3
g     1
dtype: int64

In [29]:
farkliseries + farkliseries2

a    30.0
b     NaN
c    45.0
d     NaN
f     NaN
g     NaN
dtype: float64