In [2]:
import pandas as pd

In [3]:
liste = [1,2,3,4,5,6,7]

In [4]:
pd.Series(liste)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [8]:
indexlist= ("a","s","q","e","q","r","t")

In [9]:
pd.Series(liste,indexlist)

a    1
s    2
q    3
e    4
q    5
r    6
t    7
dtype: int64

In [11]:
pd.read_csv("yapay zeka bootcamp.csv", usecols="")

                                         Kategori: Tüm kategoriler
Zaman         Taylor Swift: (Türkiye)  İbrahim Tatlıses: (Türkiye)
2021-04-02T20 3                                                 14
2021-04-02T21 3                                                 14
2021-04-02T22 3                                                 18
2021-04-02T23 3                                                 18
...                                                            ...
2021-04-09T15 3                                                 10
2021-04-09T16 4                                                 10
2021-04-09T17 5                                                 11
2021-04-09T18 4                                                 11
2021-04-09T19 4                                                 13

[169 rows x 1 columns]

In [13]:
## appla##